
<p>
	<strong>name:</strong>
	<%= @restaurant.name %>
</p>

<p>
	<strong>rating:</strong>
	<%= @restaurant.rating %>
</p>

<p>
	<strong>Normal:</strong>
	<%= @restaurant.normal %>
</p>

<p>
	<strong>Vegetarian:</strong>
	<%= @restaurant.vegetarian %>
</p>

<p>
	<strong>Gluten Free:</strong>
	<%= @restaurant.gluten_free %>
</p>

<p>
	<strong>Nut Free:</strong>
	<%= @restaurant.nut_free %>
</p>

<p>
	<strong>Fish Free:</strong>
	<%= @restaurant.fish_free %>
</p>

