<% @orderlist.each do |hash| %>
<p><%= hash[:name] %></p>
<p><%= hash[:rating] %></p>
<p><%= hash[:normal] %></p>
<p><%= hash[:vegetarian] %></p>
<p><%= hash[:nut_free] %></p>
<p><%= hash[:gluten_free] %></p>
<p><%= hash[:nut_free] %></p>
<p><%= hash[:fish_free] %></p>

<% end %>