<p>
	<strong>Normal:</strong>
	<%= @lunchorder.normal %>
</p>

<p>
	<strong>Vegetarian:</strong>
	<%= @lunchorder.vegetarian %>
</p>

<p>
	<strong>Gluten Free:</strong>
	<%= @lunchorder.gluten_free %>
</p>

<p>
	<strong>Nut Free:</strong>
	<%= @lunchorder.nut_free %>
</p>

<p>
	<strong>Fish Free:</strong>
	<%= @lunchorder.fish_free %>
</p>

<a href="/restaurants/<%= params[:id]%>/placeorder">Place Order</a>	

